*.p
*.ckpt
*.ckpt.index
*.ckpt.meta
*.ckpt.data-00000-of-00001
*.zip
*.tar
*.gz
*.pyc
*.npy
*.chk.meta


.idea
.ipynb_checkpoints
__pycache__
sdc
Projects/P3-BehavioralCloning/env
Projects/P3-BehavioralCloning/Data
