*.p
*.ckpt
*.ckpt.index
*.ckpt.meta
*.ckpt.data-00000-of-00001
*.zip
*.tar
*.gz
*.pyc
*.npy
*.chk.meta


.idea
.ipynb_checkpoints
__pycache__
sdc
Projects/BehavioralCloning/env/*
Projects/BehavioralCloning/Data/*
Projects/BehavioralCloning/UdacityData/*
Projects/BehavioralCloning/logs/*
Projects/BehavioralCloning/Models/*
